.pre-navbar{
    height: 30px;
    background-color: black;
}

main{
    margin-top: 50px;
}

.jumbotron{
    color: white;
}

.jumbo-margin-top{
    height: 650px;
}

.img-bg{
    position: 50% 50%;
}

.jumbo-text img{
    width: 200px;
}

.banner img{
    border-radius: 15px;
    height: 100px;
    object-fit: cover;
}

.rounded-25px{
    border-radius: 25px;
}

.black{
    background-color: #1f1f1f;
}

.grey{
    background-color: #bebcbb;
}

.blue{
    background-color: #161c3b;
}

.first-jumbotron-img{
    background: url(../img/jumbo-bg.png) 50% 25px;
    height: 650px;
    background-size: cover;
}

.second-jumbotron-img{
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) 50%;
    height: 650px;
    background-size: cover;
}

.blue-text{
    color: #187fd2;
}

.text-white{
    color: white;
}

.invisible-banner{
    display: none;
}

.button{
    padding: 5px 10px;
    line-height: 12px;
}

@media screen and (min-width: 768px) {
    .invisible-banner{
        display: block;
    }
}