.pre-navbar{
    height: 30px;
    background-color: black;
}

main{
    margin-top: 50px;
}

.jumbotron{
    color: white;
}

.relative{
    position: relative;
}

.img-bg{
    position: 50% 50%;
}

.jumbo-text img{
    width: 200px;
}

.jumbo-text{
    position: absolute;
    bottom: 0;
    transform: translate(-100% 0);
}

.banner{
    border-radius: 25%;
}

.black{
    background-color: #1f1f1f;
}

.grey{
    background-color: #bebcbb;
}

.blue{
    background-color: #161c3b;
}

.thumbnail{
    margin-right: 50%;
}

.blue-text{
    color: #187fd2;
}

.text-white{
    color: white;
}

.invisible-banner{
    display: none;
}

@media screen and (min-width: 768px) {
    .invisible-banner{
        display: block;
    }
}